@model Starshot.Frontend.Models.LoginViewModel

<div class="pt-5">    
    <div class="container">
        <div class="row">
            <h2 class="text-center">Login</h2>
            <div class="col col-4"></div>
            <div class="col col-4 pt-3">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <form method="post" asp-controller="Home" asp-action="Login">
                    <div class="row pt-2">
                        <div class="col">
                            <label asp-for="Username"></label>
                        </div>
                        <div class="col">
                            <input asp-for="Username" />
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col">
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <br />
                    <div class="text-center pt-2">
                        <button class="btn btn-primary" type="submit" value="Login">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col col-4"></div>
            </div>
    </div>
</div>